body {
	width: 29em;
	height: auto;

	margin: 0 auto;

	background: #E5E5E5;
	background-image: url('bg.png');

	text-align: center;
}

#header {
	margin: 0.67em;
}

#header h1 {
	margin: 0;
	padding: 0;

	color: #446;
	font-family: 'Kotta One', serif;
	font-size: 4.25em;
	text-shadow: 5px 9px 8px #E0E0ED;
}

#threePoint {
	position: relative;
	left: -5.175em;
	top: 0.488em;
	height: 0;

	margin: 0 auto;

	color: #446;
	font-family: 'Kotta One', serif;
	font-size: 3em;
}

#digits {
	position: relative;
	top: 1em;

	color: #444;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 2em;
	line-height: 1.5em;

	text-align: left;
}
